name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main
  workflow_call:
    # no inputs needed

jobs:
  build:
    name: Publish docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v2
      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CUSTOM_DOMAIN: 'docs.gitstream.com'
          ANALYTICS_TAG: 'G-WE4YLK8TT5'
          REQUIREMENTS: requirements.txt
